.parallax {
  perspective: 1px;
  height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  font-size: 200%;
}
.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px 0;
}
.parallax_layerbase {
  transform: translateZ(-1.5px);
  
}
.parallax_layerback {
  transform: translateZ(-1px);
  
}

.parallax_layerfront {
  transform: translateZ(-0.3px);
  
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#gazou {
  width: 100%;
}

#space {
  height: 0px;
}